
<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="cal.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/cal.css' %}">
    <title>Календарь</title>
</head>
<body>
    <div class = "header">
        <h1>Мероприятия твоего города</h1>
        <img src="1.png" class = "ft">
        <a href="" >Личный кабинет</a>
        <img src="2.png" class = "sd">
        <a href="">Город</a>
    </div>
    <div class = "block2">
        <a href =><img src="logo.png" class = "logo"></a>
        <div class="search">
            <img src="lupa.png" class="lupa">
            <a href="">Введите название мероприятия</a>
        </div>
        <div class="cal">
            <a href="">30.10.23-01.01.25</a>
        </div>
    </div>
    <div class="block3">
        <div class = "menu">
            <h2>Категории:</h2>
            <li>
                <a href="">Персональный фильтр</a>
                <br>
                <br>
                <br>
                <a href="{% url 'child' %}">Для детей</a>
                <br>
                <br>
                <br>
                <a href="{% url 'cinema' %}">Кино</a>
                <br>
                <br>
                <br>
                <a href="{% url 'theatre' %}">Театр</a>
                <br>
                <br>
                <br>
                <a href="{% url 'exhibition' %}">Выставки</a>
                <br>
                <br>
                <br>
                <a href="{% url 'concert' %}">Концерты</a>
                <br>
                <br>
                <br>
                <a href="{% url 'other' %}">Другое</a>
                <br>
                <br>
                <br>
            </li>
        </div>
        <div class="block4">
            <table>
                    <td>
                        <table>
                            <caption>Декабрь</caption>
                            <tr>
                            <td>Пн</td>
                            <td>Вт</td>
                            <td>Ср</td>
                            <td>Чт</td>
                            <td>Пт</td>
                            <td>Сб</td>
                            <td>Вс</td>
                            </tr>
                            <tr>
                            <td><a href="">27</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">29</a></td>
                            <td><a href="">30</a></td>
                            <td><a href="">01</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            </tr>
                            <tr>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            </tr>
                            <tr>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            </tr>
                            <tr>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            </tr>
                            <tr>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            </tr>
                    </table>
                    <table>
                        <caption>Март</caption>
                        <tr>
                        <td>Пн</td>
                        <td>Вт</td>
                        <td>Ср</td>
                        <td>Чт</td>
                        <td>Пт</td>
                        <td>Сб</td>
                        <td>Вс</td>
                        </tr>
                        <tr>
                        <td><a href="">27</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">29</a></td>
                        <td><a href="">30</a></td>
                        <td><a href="">01</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        </tr>
                        <tr>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        </tr>
                        <tr>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        </tr>
                        <tr>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        </tr>
                        <tr>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        </tr>
                </table>
                    <table>
                        <caption>Июнь</caption>
                        <tr>
                        <td>Пн</td>
                        <td>Вт</td>
                        <td>Ср</td>
                        <td>Чт</td>
                        <td>Пт</td>
                        <td>Сб</td>
                        <td>Вс</td>
                        </tr>
                        <tr>
                        <td><a href="">27</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">29</a></td>
                        <td><a href="">30</a></td>
                        <td><a href="">01</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        </tr>
                        <tr>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        </tr>
                        <tr>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        </tr>
                        <tr>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        </tr>
                        <tr>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        </tr>
                </table>
                    </td>
                    <td>
                        <table>
                            <caption>Январь</caption>
                            <tr>
                            <td>Пн</td>
                            <td>Вт</td>
                            <td>Ср</td>
                            <td>Чт</td>
                            <td>Пт</td>
                            <td>Сб</td>
                            <td>Вс</td>
                            </tr>
                            <tr>
                            <td><a href="">27</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">29</a></td>
                            <td><a href="">30</a></td>
                            <td><a href="">01</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            </tr>
                            <tr>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            </tr>
                            <tr>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            </tr>
                            <tr>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            </tr>
                            <tr>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            </tr>
                    </table>
                    <table>
                        <caption>Апрель</caption>
                        <tr>
                        <td>Пн</td>
                        <td>Вт</td>
                        <td>Ср</td>
                        <td>Чт</td>
                        <td>Пт</td>
                        <td>Сб</td>
                        <td>Вс</td>
                        </tr>
                        <tr>
                        <td><a href="">27</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">29</a></td>
                        <td><a href="">30</a></td>
                        <td><a href="">01</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        </tr>
                        <tr>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        </tr>
                        <tr>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        </tr>
                        <tr>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        </tr>
                        <tr>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        </tr>
                </table>
                    <table>
                        <caption>Июль</caption>
                        <tr>
                        <td>Пн</td>
                        <td>Вт</td>
                        <td>Ср</td>
                        <td>Чт</td>
                        <td>Пт</td>
                        <td>Сб</td>
                        <td>Вс</td>
                        </tr>
                        <tr>
                        <td><a href="">27</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">29</a></td>
                        <td><a href="">30</a></td>
                        <td><a href="">01</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        </tr>
                        <tr>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        </tr>
                        <tr>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        </tr>
                        <tr>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        </tr>
                        <tr>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        </tr>
                </table>
                    </td>
                    <td>
                        <table>
                            <caption>Февраль</caption>
                            <tr>
                            <td>Пн</td>
                            <td>Вт</td>
                            <td>Ср</td>
                            <td>Чт</td>
                            <td>Пт</td>
                            <td>Сб</td>
                            <td>Вс</td>
                            </tr>
                            <tr>
                            <td><a href="">27</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">29</a></td>
                            <td><a href="">30</a></td>
                            <td><a href="">01</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            </tr>
                            <tr>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            </tr>
                            <tr>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            </tr>
                            <tr>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            </tr>
                            <tr>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            <td><a href="">28</a></td>
                            </tr>
                    </table>
                    <table>
                        <caption>Май</caption>
                        <tr>
                        <td>Пн</td>
                        <td>Вт</td>
                        <td>Ср</td>
                        <td>Чт</td>
                        <td>Пт</td>
                        <td>Сб</td>
                        <td>Вс</td>
                        </tr>
                        <tr>
                        <td><a href="">27</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">29</a></td>
                        <td><a href="">30</a></td>
                        <td><a href="">01</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        </tr>
                        <tr>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        </tr>
                        <tr>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        </tr>
                        <tr>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        </tr>
                        <tr>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        </tr>
                </table>
                    <table>
                        <caption>Август</caption>
                        <tr>
                        <td>Пн</td>
                        <td>Вт</td>
                        <td>Ср</td>
                        <td>Чт</td>
                        <td>Пт</td>
                        <td>Сб</td>
                        <td>Вс</td>
                        </tr>
                        <tr>
                        <td><a href="">27</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">29</a></td>
                        <td><a href="">30</a></td>
                        <td><a href="">01</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        </tr>
                        <tr>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        </tr>
                        <tr>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        </tr>
                        <tr>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        </tr>
                        <tr>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        <td><a href="">28</a></td>
                        </tr>
                </table>
                    </td>
                    </table>
        </div>
    </div>
    <div class = "footer">
        <a href="">Справка</a>
        <a href="">Пользовательское соглашение</a>
        <a href="">Партнёрам и организаторам мероприятий</a>
        <a href="">Поддержка<a>
            <a href="">Возврат билетов</a>
        </div>
    </body>
    </html>
