{% load static %}
<!DOCTYPE HTML>
<html lang="ru">
<head>
    <body style="background-color: #f8ECEC">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <title>Мероприятия твоего города</title>
</head>
<body>
    <div class = "header">
    	<h1>Мероприятия твоего города</h1>
    	<img src="{% static 'main/img/1.png' %}" class = "ft">
    	<div class = "lk">
    		<a href="">Личный кабинет</a>
    	</div>
    	<img src="{% static 'main/img/2.png' %}" class = "sd">
    	<div class="town">
    	<a href="">Город</a>
    	</div>
    </div>
    <a href = '{% url 'home' %}'><img src="{% static 'main/img/LOGO.jpg' %}" class = "logo"></a>
    <div class="search">

    	<img src="{% static 'main/img/lupa.png' %}" class="td">
    	<a href="">Введите название мероприятия</a>
    </div>

    <div class = "menu">
    	<h2>Категории:</h2>

    	<li>
    		<div class = "chs"><a href="">Персональный фильтр</a></div>
    		<br>
    		<div class="chs1"><a href="{% url 'child' %}">Для детей</a></div>
    		<br>
    		<div class = "chs1"><a href="{% url 'cinema' %}">Кино</a></div>
    		<br>
    		<div class="chs1"><a href="{% url 'theatre' %}">Театр</a></div>
    		<br>
    		<div class = "chs1"><a href="{% url 'exhibition' %}">Выставки</a></div>
    		<br>
    		<div class = "chs1"><a href="{% url 'concert' %}">Концерты</a></div>
    		<br>
    		<div class = "chs1"><a href="{% url 'other' %}">Другое</a></div>
    	</li>
    </div>
    <div class="main">
    	<img src="{% static 'main/img/promo.png' %}" class="rek">
    </div>
</body>
</html>
